<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mackinac Bike Rentals</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <span class="nav-link">Welcome [{{ current_user.username }}]</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('return_bike') }}">Return Bike</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('store') }}">Store</a>
      </li>
      {% if current_user.is_authenticated %}
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('view_cart') }}">Cart</a>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container mt-4">
    <h1>Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Bike</th>
                <th scope="col">Price per Hour</th>
                <th scope="col">Hours</th>
                <th scope="col">Remove</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.bike.name }}</td>
                <td>${{ '%.2f' | format(item.bike.price_per_hour) }}</td>
                <td>
                    <!-- Form to update hours -->
                    <form action="{{ url_for('update_cart', index=loop.index0) }}" method="post">
                        <input type="number" name="hours" value="{{ item.hours }}" min="1">
                        <button type="submit" class="btn btn-sm btn-primary">Update</button>
                    </form>
                </td>
                <td>
                    <!-- Form to remove bike from cart -->
                    <form action="{{ url_for('delete_bike_cart', index=loop.index0) }}" method="post">
                        <button type="submit" class="btn btn-danger">Remove Bike</button>
                    </form>
                </td>
                <td>${{ '%.2f' | format(item.total_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="alert alert-primary" role="alert">
        Total Price: ${{ '%.2f' | format(total_price) }}
    </div>
       <!-- Checkout button -->
       <form action="{{ url_for('checkout') }}" class="text-center">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
</div>


</body>
</html>
