<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .center-image {
          display: block;
          margin: auto;
          width: 90%; /* Adjust the width as needed */
      }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mackinac Bike Rentals</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <span class="nav-link">Welcome [{{ current_user.username }}]</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('return_bike') }}">Return Bike</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('store') }}">Store</a>
      </li>
      {% if current_user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view_cart') }}">Cart</a>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h1>Welcome to Mackinac Bike Rentals</h1>
  <p>Explore our wide range of bikes available for rent and enjoy a ride around the beautiful Mackinac Island. 
    We have bikes available for all types of ages ranging from kids to adults.
    Sign up or log in to start renting today!</p>
</div>
  <div class="container text-center mt-4">
    <img src="static/frontPageImage.jpg" alt="Centered Image" class="center-image">
</div>


</body>
</html>
